
* {
    box-sizing: border-box;
    margin: 0;
    
}

body {
    width: 100%;
    background-color: #98fb98;
}

section {
   text-align: center;
   width: 100%;
   height: 100vh; 
    
}

.picture {
    width: 22%;
    height: 40vh;
    display: inline-block;
    transition: all linear 1s;
    margin-top: 5%;
    margin-left: 1%;
    background-position: center;
    background-size: cover;
    
}

div#p1 {
    background-image:url(../img/product-1.jpg);

}

div#p2 {
    background-image:url(../img/product-2.jpg);
}

div#p3 {
    background-image:url(../img/product-3.jpg);

}

div#p4 {
    background-image:url(../img/product-4.jpg);

}

.mask {
    background-color: rgba(255, 111, 0, 0.7);
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all ease-out 0.3s;
    position: relative;

}



.mask:hover {
    opacity: 1;
}




.content {
    position: absolute;
    color: white;
    width: 30%;
    height: 30%;
    font-size: 3em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    color: white;
}

a:hover {
    color: green;
}

